<div class="row">
    <div class="col-md-9 col-md-offset-3">

		<div class="container">
			
			<h3>Kontakt</h3>
		
		  	<p>
		  		<div class="panel panel-primary">
		  			<div class="panel-heading">
		    			<h3 class="panel-title">Qrator und Videri Concept</h3>
		 			</div>
		  			<div class="panel-body">
		    			Qrator wurde bei <%=  link_to 'Videri Concept', 'https://www.videri-concept.de/' %> von Kai Holländer implementiert.
		    			</br>
		    			E-Mail: kontakt@videri-concept.de
		  			</div>
		  		</div>				
		  	</p>			
		</div>
	</div>
</div>
