<div class="genContainer">
	<h1>QR-Code Generator</h1>

	<div class= "formWrapper">
		<form action="#.html">
        	<ul class="eingabeListe">
            	<li class="liste">
            		<div class="urlHeading">URL zur Erstellung des QR-Codes:</div>
                	<label class="labelList" for="url">URL:</label>
                	<input class="input" type="text" id="url" value="www.beispiel.de">
            	</li>
            	<li class="liste">
            		<div class="utmHeading">Optionale UTM Variablen:</div>
                	<label class="labelList" for="utm_1">UTM Source tag:</label>
                	<input class="input" type="text" id="utm_source" value="URL">
            	</li>
            	<li class="liste">            		
                	<label class="labelList" for="utm_2">A UTM Medium tag:</label>
                	<input class="input" type="text" id="utm_medium" value="CPC">
            	</li>
            	<li class="liste">            		
                	<label class="labelList" for="utm_3">UTM Campaign tag:</label>
                	<input class="input" type="text" id="utm_campaign" value="Kampagne XY">
            	</li>
            	<li class="liste">            		
                	<label class="labelList" for="utm_4">UTM Content tag:</label>
                	<input class="input" type="text" id="utm_content" value="Beispielinhalt">
            	</li>
            	<li class="liste">            		
                	<label class="labelList" for="utm_5">UTM Term tag:</label>
                	<input class="input" type="text" id="utm_term" value="Suchworte">
            	</li>            	
            	<li class="button">
                	<input type="submit" value="QR-Code generieren">
            	</li>
        	</ul>
    	</form>
	</div>
</div>
