<div class="row">
	<div class="col-md-9 col-md-offset-2">
		<div class="container">
			
			<h3>Impressum</h3>

			<p>
				<div class="row">
					<div class="col-md-8">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Videri Concept GmbH</h3>
							</div>
							<div class="panel-body">
								<ul class="liste">
									<li>Videri Concept GmbH</li>
									<li>Josephspitalstr. 6</li>
									<li>DE-80331 München</li>
									<li>Tel.: +49 (89) 189 31 41 0</li>
									<li>E-Mail: kontakt@videri-concept.de</li>
									</br>
									<li>Sitz der Gesellschaft: München</li>
									<li>Geschäftsführer: Jakob Beyer, Florian Kappert </li>
									<li>Gesellschafter: Jakob Beyer, Florian Kappert </li>
									<li>Registergericht: Amtsgericht München </li>
									<li>Handelsregisternummer: HRB163205  </li>
									<li>Steuernummer: 114/141/40183  </li>
									<li>Ust.-ID: DE249999121  </li>
								</ul>						
							</div>
						</div>	
					</div>	
				</div>				
			</p>			
		</div>
	</div>
</div>
</div> <!-- wenn hier kein closing-div wird footer verschoben -->
