<div class="row">
	<div class="col-md-9 col-md-offset-2">

		<div class="container">			

			<p>

				<h3>Über Qrator</h3>

				<div class="row">

					<div class="col-md-4">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Mit Qrator QR-Codes erstellen</h3>
							</div>
							<div class="panel-body">
								Im Feld 'URL' auf der <%=  link_to 'Qrator Startseite', '/' %> kann eine Webadresse eingeben werden. </br>Ein QR-Code der auf die eingegebene Adresse verweist wird dann erstellt und als Download im DF-Format angeboten.
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">UTM Parameter</h3>
							</div>
							<div class="panel-body">
								UTM-Parameter unterstützen via Google Analytics tracking und Klickverfolgung. </br>Anhand der Parameter lässt sich das Nutzerverhalten zur entsprechenden URL nachvollziehen. </br>UTM Parameter können optional angegeben werden.
							</div>
						</div>
					</div>
				</div>

			</p>

		</div>		
	</div>
</div>
</div> <!-- wenn hier kein closing-div wird footer verschoben -->
