
<div id="main-container" class="container">

    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h3>QR-Code zu URL erstellen:</h3>
        </div>
            <form role="form" class="form-horizontal">        
                <div class="form-group">
                    <label for="URL" class="col-md-3 control-label">URL</label>
                    <div class="col-md-6">
                        <input type="text" id="url" name="url" class="form-control" />
                    </div>
                </div>


            <div class="col-md-9 col-md-offset-3">
                <h3>Optionale UTM-Parameter:</h3>
            </div>

            <div class="form-group">
                <label for="utm-st" class="col-md-3 control-label">UTM source tag</label>
                <div class="col-md-6">
                    <input type="text" id="utm-st" name="utm-st" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="utm-mt" class="col-md-3 control-label">UTM medium tag</label>
                <div class="col-md-6">
                    <input type="text" id="utm-mt" name="utm-mt" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="utm-st" class="col-md-3 control-label">UTM campaign tag</label>
                <div class="col-md-6">
                    <input type="text" id="utm-ct" name="utm-ct" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="utm-st" class="col-md-3 control-label">UTM content tag</label>
                <div class="col-md-6">
                    <input type="text" id="utm-cont" name="utm-cont" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="utm-st" class="col-md-3 control-label">UTM term tag</label>
                <div class="col-md-6">
                    <input type="text" id="utm-tt" name="utm-tt" class="form-control" />
                </div>
            </div>

             <div class="form-group">
                <div class="col-md-offset-3 col-md-9">                    
                    <button type="button" class="btn btn-primary">QR-Code generieren</button>                    
                </div>
            </div>
        </form>
    </div>    

</div>
