// Place all the styles related to the Qrator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.container-fluid {
  background-color: #F9B120;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-brand {
  color: black;
}

a:link {
  color: black;
}

a {
	color: black;
	text-decoration: none;
}

div.bg {
	border-color: #E6E6E6;
	border-style: solid;
}

ul.liste {
	list-style: none;
}

.panel {
	border-color: #F9B120;
	border-style: solid;
}

.panel-primary > .panel-heading {
	background-color: #F9B120;
	color: black;
	border-color: #F9B120;
}

// footer/header
.bar {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0;
}

//QR-Code Image
.qr_code_graph {
	position: relative;
}
