<!DOCTYPE html>
<html>
	<head>
  		<title>Qrator</title>
  		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
  		<!--[if lt IE 9]>
      		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      		</script>
    	<![endif]-->

	</head>
	<body>

		<div id="main-container" class="container">

      <div class="row">
        <div class="col-md-12">
          <h1>Qrator</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>      
      </div>

    </div>

  	</body>
</html>